.landscape-image{
    background-image: url(./data/Landscape\ exterior.jpg);
    height: 1500px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    justify-content: end;
}

.video-btn{
    height: 50px;
  

}